h1{
background-image: url(../img/background2.png);
text-align:left;
}

h2{
    border-bottom: 2px solid green;
}

figure{ 
    text-align:left;
}

img{
    width: 250px;
    height: 250px;

    border: 2px solid darkgoldenrod;
}