.container{
    width: 90%;
    margin-right: auto;
    margin-left: 30px;
}
.container a[href*=github]{
    color: black;
}
.container a[href*=instagram]{
    color: blueviolet;
}
.container a[href*=facebook]{
    color:blue;}

a:hover{
    background-color:rgb(218, 205, 19);
}

a:visited{
    background-color: rgb(39, 234, 234);
}
a:active{
    background-color: rgb(12, 84, 219);
}