body{
    background-color: darkgray;
}
@media screen and (min-width:480px) and (max-width:720px){
    body{background-color: goldenrod;} 
    h1::before{content:"480";}
    h1::after{content:"720";}
}

@media screen and (min-width:720px) and (max-width:1024px){
    body{background-color:blueviolet} 
    h1::before{content:"720";}
    h1::after{content:"1200";}
}

@media screen and (min-width:1024px) and (max-width:1200px){
    body{background-color: rgb27, 57, 27} 
}